@using Microsoft.FluentUI.AspNetCore.Components

<FluentFooter Class="p-3 bg-primary-subtle footer">
    <span class="fw-bold">Video Conferencing</span>
    <span> 📍 Location: Baku, Azerbaijan</span>
    <span> 📞 Office: +994 77 507 97 77</span>
    <span> 📧 Email: dev.nihad.rasulzada@outlook.com</span>
    <FluentSpacer />
    <span><i>Built by <strong>Nihad Rasulzada</strong></i></span>
</FluentFooter>

<style>
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
